<p>Welcome to the OpenIDConnect Node.js example</p>
<p>This homepage is <strong>not</strong> authenticated</p>

<br>

<p> You can only access the <a href="/private">private area</a> after authenticating through PingFederate</p>
<br>
<a href="/logout">Logout</a>
