<p>
  Welcome to the private area {{user.name.givenName}}!

  <br>

  You are now authenticated with OpenIDConnect.
</p>

<p> ID: {{user.id}} </p>
<p> Email: {{user._json.email}} </p>


<a href="/">Homepage</a>
<br>
<a href="/logout">Logout</a>
